@page
@model GestForma.Areas.Identity.Pages.PageUserModel
@{
}

<h2>Welcome to your account</h2>

<div>
    First Name : @Model.user?.FirstName

</div>

<div>
    First Name : @Model.user?.LastName

</div>


<div>
    First Name : @Model.user?.Email

</div>