
@{
    ViewData["Title"] = "NbrPart";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>NbrPart</h1>


<h1>@ViewBag.nbrPart</h1>
<h1>@ViewBag.nbrprof</h1>
<h1>@ViewBag.TotalNumberOfFormations</h1>